body {
    background-image: url(https://www.google.com/imgres?q=donpollo&imgurl=https%3A%2F%2Fcdn-0001.qstv.on.epicgames.com%2FvVgHmZWkLNEpGtiQXY%2Fimage%2Flandscape_comp.jpeg&imgrefurl=https%3A%2F%2Fwww.fortnite.com%2F%4015lukee%2F0128-4648-9295%3Flang%3Dpt-BR&docid=Zp1HKqSv4YxllM&tbnid=gU6ijNox3hEm4M&vet=12ahUKEwipr4bf8OyGAxWjpJUCHRmeDCEQM3oECHgQAA..i&w=1920&h=1080&hcb=2&ved=2ahUKEwipr4bf8OyGAxWjpJUCHRmeDCEQM3oECHgQAA)
    {
        h1 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold' , sans-serif;
font-style: Italic;
font-size: xx-large;
color: